[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[core]
  excludesfile = ~/.gitignore
[alias]
  c = commit -a
  a = add
  di = diff
  dic = diff --cached
  pl = pull
  ps = push
  pr = pull --rebase
  st = status
  out = log origin..HEAD
  br = branch
  co = checkout
  del = !FILES=$(git ls-files --deleted) && git rm $FILES
  msg = commit --allow-empty -m
  l = log --pretty='format:%d %C(magenta)%h%C(reset) %an - %C(white)%s' --graph
  glog = log --pretty='format:%d %C(green)%h%Creset %an - %s' --graph
[help]
  autocorrect = 1
[push]
  default = matching
[branch]
  autosetupmerge = always
  autosetuprebase = always
[merge]
	tool = chdiff
  trustExitCode = 0
[mergetool "filemerge"]
  cmd = /usr/bin/env chdiff --wait "$LOCAL" "$REMOTE"
  keepBackup = false
	prompt = false
  trustExitCode = false
[rerere]
  enabled = 1
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Kory
	email = korywkoch@gmail.com
